<nav
  class="bg-zinc-900 flex flex-row items-center justify-between px-2 py-3 gap-4 text-zinc-50"
>
  @if (sidebarCollapsed) {
  <button
    (click)="sidebarUnhideEvent.emit()"
    class="w-10 h-10 rounded-full items-center flex bg-gray-50 p-3 hover:opacity-90 transition-all duration-200"
  >
    <i class="pi pi-arrow-circle-right text-gray-900"></i>
  </button>
  }

  <div class="mx-auto rounded-xl bg-zinc-700 w-auto"></div>

  <div>
    <button (click)="menu.toggle($event)">
      <p-avatar
        [image]="userDetails.avatar_url"
        shape="circle"
        class="mr-2"
        size="normal"
      />
    </button>

    <p-tiered-menu #menu [model]="items" [popup]="true">
      <ng-template #item let-item let-hasSubmenu="hasSubmenu">
        @if(item.id === "user-details") {
        <app-user-details [userDetails]="userDetails" />
        } @else {
        <a pRipple class="flex items-center p-tieredmenu-item-link">
          <span [class]="item.icon" class="p-tieredmenu-item-icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          @if (item.badge) {
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
          } 
          @if (item.shortcut) {
            <span
              class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
            >
              {{ item.shortcut }}
            </span>
          } 
          @if (hasSubmenu) {
            <i class="pi pi-angle-right ml-auto"></i>
          }
        </a>
        }
      </ng-template>
    </p-tiered-menu>
  </div>
</nav>
