@if (taskData) {
  <section class="px-4 py-2 overflow-auto">
    <p-toast />
    <div class="flex items-center justify-between">
      <h3 class="text-2xl tracking-wide">Task Details</h3>
      <div class="flex items-center gap-3">
        @if (taskEdited) {
          <p-button icon="pi pi-save" label="Save" size="small" (onClick)="updateTask()" />
        }
        <p-select
          inputId="assignee"
          id="assignee"
          [(ngModel)]="selectedAssignee"
          [options]="users"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Assignee"
          size="small"
          fluid
          (ngModelChange)="updateTaskAssignee()"
        />

        <p-select
          [options]="taskStatuses"
          [(ngModel)]="selectedStatus"
          optionLabel="label"
          placeholder="Update Status"
          (ngModelChange)="updateTaskStatus()"
          size="small"
          class="w-full"
        />

        <p-select
          [options]="taskPriorities"
          [(ngModel)]="selectedPriority"
          optionLabel="label"
          placeholder="Update Priority"
          (ngModelChange)="updateTaskPriority()"
          size="small"
          class="w-full"
        />
      </div>
    </div>

    <div class="flex gap-4">
      <div class="mt-10 grid grid-cols-4 gap-3">
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">ID</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            {{ taskData.id }}
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">Title</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            {{ taskData.title }}
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">Priority</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            <p-tag
              [severity]="getPriorityBadgeType(taskData.priority)"
              [value]="getPriorityLabel(taskData.priority)"
            />
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">Planned Hours</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            {{ taskData.plannedHours }}
          </p>
        </div>
        <div class="flex flex-col gap-1 col-span-4">
          <p class="text-gray-500 dark:text-gray-300">Description</p>
          <p
            disabled
            class="text-gray-800 dark:text-gray-50 text rounded-md h-32 whitespace-pre-line"
          >
            {{ taskData.description }}
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">Assigned To</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            {{ getAssigneeName(taskData.assignee) || '-' }}
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">Status</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            <p-tag
              [severity]="getStatusBadgeType(taskData.status)"
              [value]="getStatusLabel(taskData.status)"
            />
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">Created At</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            {{ taskData.createdAt | date: 'medium' }}
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500 dark:text-gray-300">Updated At</p>
          <p class="text-gray-800 dark:text-gray-50 text">
            {{ taskData.updatedAt | date: 'medium' }}
          </p>
        </div>
      </div>

      <div class="mt-4 border-l border-gray-300 dark:border-gray-700 rounded-md p-4 flex-1">
        <div class="flex items-center justify-between">
          <h4 class="text-xl tracking-wide">Comments</h4>
          <p-button
            label="Add Comment"
            size="small"
            icon="pi pi-comments"
            (onClick)="toggleCommentCreate()"
          />
        </div>
        @if (commentCreateVisible) {
          <div class="my-3">
            <app-task-comment-create
              [taskId]="taskId"
              [projectId]="projectId"
              (commentCreateTrigger)="createComment($event)"
            />
          </div>
        }
        <div class="my-3 flex flex-col">
          @for (comment of comments; track comment.id) {
            <app-task-comment [comment]="comment" />
          }
        </div>
      </div>
    </div>
  </section>
}
