<div class="flex flex-col gap-4">
  <p-iftalabel>
    <p-select
      inputId="method"
      id="method"
      [(ngModel)]="paymentInfo.method"
      (ngModelChange)="addPaymentInfoToInvoice()"
      [options]="paymentMethods"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Payment Method"
      size="small"
      fluid
    />
    <label for="method">Payment Method</label>
  </p-iftalabel>

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-6">
      <p-iftalabel>
        <input
          type="text"
          pInputText
          id="transactionId"
          pSize="small"
          [(ngModel)]="paymentInfo.transactionId"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
        />
        <label for="transactionId">Transaction Reference Number</label>
      </p-iftalabel>
    </div>
    <div class="col-span-6">
      <p-iftalabel>
        <input
          type="date"
          pInputText
          id="date"
          pSize="small"
          [(ngModel)]="paymentInfo.date"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
        />
        <label for="date">Payment Date</label>
      </p-iftalabel>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-6">
      <p-iftalabel>
        <p-select
          inputId="currency"
          id="currency"
          [(ngModel)]="paymentInfo.amount!.currency"
          (ngModelChange)="addPaymentInfoToInvoice()"
          [options]="currencies"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Currency"
          size="small"
          fluid
        />
        <label for="currency">Currency</label>
      </p-iftalabel>
    </div>
    <div class="col-span-6">
      <p-iftalabel>
        <input
          type="number"
          pInputText
          id="amount"
          pSize="small"
          [(ngModel)]="paymentInfo.amount!.amount"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
          min="0"
        />
        <label for="amount">Amount</label>
      </p-iftalabel>
    </div>
  </div>

  @switch (paymentInfo.method) {
    @case ('cash') {
      <div></div>
    }
    @case ('card') {
      <p-iftalabel>
        <p-select
          inputId="cardType"
          id="cardType"
          [(ngModel)]="paymentInfo.cardType"
          (ngModelChange)="addPaymentInfoToInvoice()"
          [options]="cardTypes"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Card Type"
          size="small"
          fluid
        />
        <label for="cardType">Card Type</label>
      </p-iftalabel>
      <p-iftalabel>
        <input
          type="number"
          pInputText
          id="last4digits"
          pSize="small"
          [(ngModel)]="paymentInfo.lastFourDigits"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
          min="0"
          max="9999"
        />
        <label for="last4digits">Last 4 digits of card</label>
      </p-iftalabel>
    }
    @case ('upi') {
      <p-iftalabel>
        <input
          type="text"
          pInputText
          id="upiId"
          pSize="small"
          [(ngModel)]="paymentInfo.upiId"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
        />
        <label for="upiId">UPI ID</label>
      </p-iftalabel>
    }
    @case ('cheque') {
      <p-iftalabel>
        <input
          type="text"
          pInputText
          id="bankName"
          pSize="small"
          [(ngModel)]="paymentInfo.bankName"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
        />
        <label for="bankName">Bank Name</label>
      </p-iftalabel>
      <p-iftalabel>
        <input
          type="text"
          pInputText
          id="chequeNumber"
          pSize="small"
          [(ngModel)]="paymentInfo.chequeNumber"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
        />
        <label for="chequeNumber">Cheque Number</label>
      </p-iftalabel>
    }
    @case ('bank') {
      <p-iftalabel>
        <input
          type="text"
          pInputText
          id="bankName"
          pSize="small"
          [(ngModel)]="paymentInfo.bankName"
          (ngModelChange)="addPaymentInfoToInvoice()"
          required
          fluid
        />
        <label for="bankName">Bank Name</label>
      </p-iftalabel>
    }
  }
</div>
