<div class="flex flex-row h-screen w-screen">
  <div class="bg-white h-full">
    <img alt="LoginBg" src="https://picsum.photos/750/1000" class="object-cover" />
  </div>
  <div class="flex-1 flex items-center justify-center h-full">
    <p-card class="w-96">
      <ng-template #header>
        <h2 class="p-2 pt-4 text-center text-gray-50 text-2xl">Login</h2>
      </ng-template>
      <form class="w-full flex flex-col gap-2" [formGroup]="loginForm" (ngSubmit)="triggerLogin()">
        <p-iftalabel>
          <input type="text" class="w-full" pInputText id="username" [formControlName]="'username'" />
          <label for="username">Username</label>
        </p-iftalabel>
        <p-iftalabel>
          <input type="password" class="w-full" pInputText id="password" [formControlName]="'password'" />
          <label for="password">Password</label>
        </p-iftalabel>

          <p-fluid class="mb-2 mt-1 gap-2 flex flex-col">
            <p-button (click)="triggerLogin()" label="Login" icon="pi pi-sign-in" />
            <p-button outlined>Forgot Password</p-button>
          </p-fluid>
      </form>
    </p-card>
  </div>
</div>
